@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:var(--Family-Montserrat);
  font-size: 14px;
  --Family-Montserrat: "Montserrat", serif;
  --Weights500: 500;
  --Weights700: 700;
  
  --Family-Fraunces:"Fraunces", serif;
  --Weights700: 700;

--DarkCyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);


--Verydarkblue: hsl(212, 21%, 14%);
--Darkgrayishblue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);


}

body{
  background-color: var(--Cream);
  margin:1.5rem;
  
}
h2{
color:var(--Darkgrayishblue);
font-weight: var(--Weights500);
letter-spacing: .2rem;
font-size: .8rem;
margin-bottom: 1rem;
text-transform: uppercase;
}
p{
font-size: 14px;
color:var(--Darkgrayishblue);
font-weight: var(--Weights500);
margin-bottom: 1rem;
}
h1{
  color:var(--Verydarkblue);
  font-weight: var(--Weights700);
  font-size: 2.1rem;
  font-family: var(--Family-Fraunces);
  line-height: 1;
  margin-bottom: 1rem;
}
#price-span{
  color:var(--DarkCyan);
  font-weight: var(--Weights700);
  font-size: 2.2rem;
  font-family: var(--Family-Fraunces);
  margin-right: 1.5rem;
}
del{
  color: var(--Darkgrayishblue);
  font-weight: var(--Weights500);
}
.button{

  background-color: var(--DarkCyan);
  color:white;
  border-radius:.5rem;
  text-align: center;
  cursor: pointer;
  padding: .8rem;
}
#add-to-cart-span{
  font-weight: var(--Weights700);
  font-size: .85rem;
}
.button:hover{
  background-color: hsl(158, 57%, 18%);
}

